<div class="card is-clickable" @onclick="HandleClick" style="@GetCss()">
    <div class="card-body">
        <span><i class="fas fa-folder" style="color: @FileManager.ThemeColor;"/></span>
        <span>@FolderPathText</span>
    </div>
</div>